body{
  background-color: #040404;
}

/*header*/
.HeaderContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #0c0c0c;
}

.HeaderContainer img{
    width: 80px;  
    height: 80px; 
    margin-bottom: 10px;
}

.HeaderContainer h1{
    font-size: 1.5rem; 
    font-weight: bold;
    color: #ffcc00; 
}

.HeaderContainer h3 {
    font-size: 1rem; 
    color: #ffcc00; 
    margin-bottom: 20px;
  }

  /*NAVBAR*/
  .NavBar{
    display: flex;
    flex-direction: row; 
    align-items: center;    
    justify-content: center; 
    padding: 10px;
  }


  .NavBar a {
    color: #ffcc00; 
    text-decoration: none; 
    padding: 10px 15px; 
    font-size: 1rem; 
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s; 
  }

  .NavBar a:hover {
    background-color: #040404; 
    color: #ffcc00; 
  }


/*MEDIA QUERIES FOR TABLETS AND DESKTOPS*/
  @media (min-width: 760px) {
    .header-container {
      padding: 40px;
    }
  
    .header-container h1 {
      font-size: 2.5rem; 
    }
  
    .header-container h3 {
      font-size: 1.2rem; 
    }

    .NavBar a {
        font-size: 1.2rem; 
      }


  }
  
  @media (min-width: 1024px) {
    .header-container h1 {
      font-size: 3rem; 
    }
  
    .header-container h3 {
      font-size: 1.5rem; 
    }

    .NavBar a {
        font-size: 1.5rem; /* Increase font size for desktops */
      }
  }