

h2 {
  color: #ffcc00; 
}

.SignForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  border: 1px solid #ffcc00; 
  border-radius: 8px;
  background-color: #080808; 
  box-shadow: 0 4px 12px rgba(255, 204, 0, 0.3); 
  margin: 10px auto; 
  width: 90%; 
  max-width: 400px;
}

.SignForm input {
  width: 100%;
  max-width: 250px;
  padding: 10px;
  margin: 10px ;
  border: 1px solid #d9dace; 
  border-radius: 4px;
  font-size: 1rem;
  color: #ffcc00; 
  background-color: #1a1a1a; 
}

.SignForm input::placeholder {
  color: #ffcc00; 
}

.SignForm button {
  padding: 12px;
  border-radius: 4px;
  background-color: #ffcc00; 
  color: #090909; 
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 100px ;
}

.SignForm button:hover {
  background-color: #0a0a0a; 
  color: #ffcc00 ;
}


@media (min-width: 768px) {
  .SignForm {
    max-width: 300px; 
  }

  .SignForm button{
display: flex;
  }
}

@media (min-width: 1024px) {
  .SignForm {
    max-width: 325px; 
  }
}
